MONGODB_URI=mongodb+srv://your_user:your_password@cluster0.xxxxx.mongodb.net/growingup?retryWrites=true&w=majority
SESSION_SECRET=your_random_session_secret_here
PORT=3000

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=YourSecurePassword123

FIN_SEC_EMAIL=finance@example.com
FIN_SEC_PASSWORD=YourFinPassword123

BASE_URL=https://yourdomain.com
